apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-app-deployment
  namespace: default
  labels:
    app: fastapi-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi-app-deployment
  template:
    metadata:
      labels:
        app: fastapi-app-deployment
    spec:
      imagePullSecrets:
      - name: registry-shohr-cred
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - worker-1
      containers:
      - name: fastapi
        image: registry.shohr.uz/fastapi_k8s/fastapi-helm-for-learning:latest
        imagePullPolicy: Always
        command:
        - uvicorn
        - main:app
        - --host
        - "0.0.0.0"
        - --port
        - "8082"
        ports:
        - containerPort: 8082
          name: http
        envFrom:
        - secretRef:
            name: fastapi-secret
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi