apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: fastapi-app-deployment
  ports:
    - name: http
      port: 80
      targetPort: 8082
