name: build-and-deploy

on:
  push:
    branches:
      - main

env:
  REGISTRY: registry.shohr.uz
  PROJECT_NAME: fastapi_k8s
  IMAGE_NAME: fastapi-helm-for-learning
  NAMESPACE: default
  DEPLOYMENT_NAME: fastapi-app-deployment

jobs:
  build:
    runs-on: [master-node]
    
    outputs:
      tag: ${{ steps.set-tag.outputs.tag }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set Docker tag
        id: set-tag
        run: echo "tag=${{ github.run_number }}" >> "$GITHUB_OUTPUT"

      - name: Docker login
        env:
          REGISTRY_USER: ${{ secrets.REGISTRY_USER }}
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
        run: make docker-login
      - name: Debug - Show working directory
        run: |
          pwd
          ls -la
          echo "Current user: $(whoami)"
          echo "Groups: $(groups)"

      - name: Build Docker images
        shell: bash
        run: |
          make build-image TAG=${{ steps.set-tag.outputs.tag }}
          make build-image TAG=latest

      - name: Push Docker images
        shell: bash
        run: |
          make push-image TAG=${{ steps.set-tag.outputs.tag }}
          make push-image TAG=latest

  deploy:
    runs-on: [master-node]
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Restart k8s deployment
        run: |
          kubectl rollout restart deployment ${DEPLOYMENT_NAME}
