name: build-and-deploy

on:
  push:
    branches:
      - main

env:
  REGISTRY: registry.shohr.uz
  PROJECT_NAME: fastapi_k8s
  IMAGE_NAME: fastapi-helm-for-learning
  NAMESPACE: default
  DEPLOYMENT_NAME: fastapi-app-deployment
  CONTAINER_NAME: fastapi  # container name in the deployment

jobs:
  build:
    runs-on: [master-node]

    outputs:
      tag: ${{ steps.set-tag.outputs.tag }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set Docker tag
        id: set-tag
        run: echo "tag=${{ github.run_number }}" >> "$GITHUB_OUTPUT"

      - name: Docker login
        env:
          REGISTRY_USER: ${{ secrets.REGISTRY_USER }}
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
        run: make docker-login

      - name: Build & push Docker images
        shell: bash
        run: |
          for TAG in ${{ steps.set-tag.outputs.tag }} latest; do
            make build-image TAG=$TAG
            make push-image TAG=$TAG
          done

  deploy:
    runs-on: [master-node]
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update deployment image
        run: |
          kubectl set image deployment/${{ env.DEPLOYMENT_NAME }} \
            ${{ env.CONTAINER_NAME }}=${{ env.REGISTRY }}/${{ env.PROJECT_NAME }}/${{ env.IMAGE_NAME }}:${{ github.run_number }} \
            -n ${{ env.NAMESPACE }}

      - name: Wait for rollout to complete
        run: |
          kubectl rollout status deployment/${{ env.DEPLOYMENT_NAME }} -n ${{ env.NAMESPACE }}
