name: build-and-deploy

on:
  push:
    branches:
      - main

env:
  REGISTRY: registry.shohr.uz
  PROJECT_NAME: fastapi_k8s

jobs:
  build:
    runs-on: [master-node]
    
    outputs:
      tag: ${{ steps.set-tag.outputs.tag }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set Docker tag
        id: set-tag
        run: echo "tag=${{ github.run_number }}" >> "$GITHUB_OUTPUT"

      - name: Docker login
        env:
          REGISTRY_USER: ${{ secrets.REGISTRY_USER }}
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
        run: make docker-login

      - name: Build Docker images
        shell: bash
        run: |
          make build-image TAG=${{ steps.set-tag.outputs.tag }}
          make build-image TAG=latest

      - name: Push Docker images
        shell: bash
        run: |
          make push-image TAG=${{ steps.set-tag.outputs.tag }}
          make push-image TAG=latest

  # deploy:
  #   runs-on: [self-hosted]
  #   needs: build

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v3

  #     - name: Set up kubeconfig
  #       run: |
  #         mkdir -p ~/.kube
  #         echo "${{ secrets.KUBECONFIG_CONTENT }}" > ~/.kube/config
  #         chmod 600 ~/.kube/config

  #     - name: Verify cluster access
  #       run: kubectl get nodes

  #     - name: Deploy with Helm
  #       run: |
  #         helm upgrade --install fastapi-minikube-helm ./helm
